Repository microsoft/AzureTRE, pull requests merged in 2021-06, with the labels that each got.

#134 [POST] /workspaces
  management_api_app/api/dependencies/database.py
  management_api_app/api/dependencies/workspaces.py
  management_api_app/api/routes/health.py
  management_api_app/api/routes/status.py
  management_api_app/api/routes/workspaces.py
  management_api_app/db/errors.py
  management_api_app/db/repositories/base.py
  management_api_app/db/repositories/workspaces.py
  management_api_app/models/domain/resource.py
  management_api_app/models/schemas/resource.py
  management_api_app/resources/strings.py
  management_api_app/tests/test_api/conftest.py
  management_api_app/tests/test_api/test_routes/test_health.py
  management_api_app/tests/test_api/test_routes/test_status.py
  management_api_app/tests/test_api/test_routes/test_workspaces.py
  scripts/bootstrap_db_for_local_tests.py
Labels: api

#151 Resource request message sender implemented and integrated to API
  management_api_app/.env.tmpl
  management_api_app/api/routes/workspaces.py
  management_api_app/core/config.py
  management_api_app/requirements.txt
  management_api_app/resources/strings.py
  management_api_app/service_bus/__init__.py
  management_api_app/service_bus/service_bus.py
  requirements.txt
  templates/core/terraform/api-webapp/api-webapp.tf
  templates/core/terraform/api-webapp/variables.tf
  templates/core/terraform/main.tf
  workspaces/vanilla/README.md
Labels: api, feature

#155 DB error handling in one location
  management_api_app/api/dependencies/workspaces.py
  management_api_app/api/routes/workspaces.py
  management_api_app/db/repositories/base.py
  management_api_app/db/repositories/workspaces.py
  management_api_app/models/domain/resource.py
  management_api_app/models/schemas/resource.py
  management_api_app/tests/test_api/test_routes/test_workspaces.py
Labels: api

#156 Add a query builder for cosmos queries
  management_api_app/db/query_builder.py
  management_api_app/db/repositories/workspaces.py
  management_api_app/tests/test_db/__init__.py
  management_api_app/tests/test_db/test_query_builder.py
Labels: api

#171 update API interface
  .yaspellerrc.json
  docs/authoring-workspaces.md
  management_api_app/.env.tmpl
  management_api_app/api/dependencies/workspaces.py
  management_api_app/api/routes/workspaces.py
  management_api_app/core/config.py
  management_api_app/db/repositories/workspaces.py
  management_api_app/models/domain/resource.py
  management_api_app/models/domain/workspace.py
  management_api_app/models/schemas/resource.py
  management_api_app/models/schemas/workspace.py
  management_api_app/service_bus/service_bus.py
  management_api_app/tests/test_api/test_routes/test_workspaces.py
  workspaces/vanilla/README.md
  workspaces/vanilla/porter.yaml
Labels: api

#175 Tessferrandez/calculate workspace
  management_api_app/db/repositories/workspaces.py
Labels: api

#185 Refactoring and Test: Add test for workspaces repository and for the workspaces POST
  management_api_app/api/routes/workspaces.py
  management_api_app/db/query_builder.py
  management_api_app/db/repositories/base.py
  management_api_app/db/repositories/workspaces.py
  management_api_app/tests/test_api/conftest.py
  management_api_app/tests/test_api/test_routes/test_workspaces.py
  management_api_app/tests/test_db/test_query_builder.py
  management_api_app/tests/test_db/test_repositories/__init__.py
  management_api_app/tests/test_db/test_repositories/test_workpaces_repository.py
Labels: api

#187 Implement GET /workspace-templates
  management_api_app/api/routes/api.py
  management_api_app/api/routes/workspace_templates.py
  management_api_app/api/routes/workspaces.py
  management_api_app/db/repositories/workspace_templates.py
  management_api_app/models/schemas/workspace_template.py
  management_api_app/resources/strings.py
  management_api_app/tests/test_api/test_routes/test_workspace_templates.py
  management_api_app/tests/test_api/test_routes/test_workspaces.py
  management_api_app/tests/test_db/test_repositories/test_workspace_templates_repository.py
Labels: api

#196 get current workspace template by name
  management_api_app/api/routes/workspace_templates.py
  management_api_app/db/bootstrapping_data/resource_templates.json
  management_api_app/models/domain/resource_template.py
  management_api_app/models/schemas/workspace_template.py
  management_api_app/resources/strings.py
  management_api_app/tests/test_api/test_routes/test_workspace_templates.py
  management_api_app/tests/test_db/test_repositories/test_workspace_templates_repository.py
Labels: api

#195 Changing the vanilla workspace bundle to use Azure storage for Terraform backend
  docs/authoring-workspaces.md
  workspaces/vanilla/.env.sample
  workspaces/vanilla/README.md
  workspaces/vanilla/azure.json
  workspaces/vanilla/parameters.json
  workspaces/vanilla/porter.yaml
  workspaces/vanilla/terraform/.terraform.lock.hcl
  workspaces/vanilla/terraform/main.tf
  workspaces/vanilla/terraform/variables.tf
Labels: bundles, documentation

#223 process workspace create parameters
  management_api_app/db/repositories/workspaces.py
Labels: api

#225 fix location->azure_location in schema sample
  management_api_app/models/schemas/workspace.py
Labels: api

#231 change database name
  templates/core/terraform/state-store/statestore.tf
Labels: bug

#245 Fix: API does not work on deploy
  management_api_app/api/dependencies/database.py
  management_api_app/core/events.py
  management_api_app/db/events.py
  management_api_app/tests/test_api/conftest.py
Labels: api

#251 Add publish and register bundle script
  devops/scripts/publish_register_bundle.sh
Labels: bundles

#248 Adds service principal for deployment processor
  .github/workflows/deploy_tre.yml
  Makefile
  devops/scripts/set_contributor_sp_secrets.sh
  devops/terraform/.env.sample
  devops/terraform/bootstrap.sh
  devops/terraform/variables.tf
  docs/cd-setup.md
  templates/core/terraform/keyvault/keyvault.tf
  templates/core/terraform/keyvault/variables.tf
  templates/core/terraform/main.tf
  templates/core/terraform/variables.tf
Labels: auth, bundles

#270 Fix issues with deployment status and template parameters
  management_api_app/models/domain/resource.py
  management_api_app/models/domain/resource_template.py
  management_api_app/models/schemas/workspace_template.py
  management_api_app/tests/test_api/test_routes/test_workspace_templates.py
  management_api_app/tests/test_api/test_routes/test_workspaces.py
  management_api_app/tests/test_db/test_repositories/test_workpaces_repository.py
Labels: api

#272 Composition service monitoring enabled
  management_api_app/.env.tmpl
  management_api_app/core/config.py
  management_api_app/main.py
  management_api_app/requirements.txt
  processor_function/createNewWorkspace/__init__.py
  processor_function/requirements.txt
  requirements.txt
  templates/core/terraform/api-webapp/api-webapp.tf
  templates/core/terraform/api-webapp/variables.tf
  templates/core/terraform/main.tf
  templates/core/terraform/outputs.tf
  templates/core/terraform/processor_function/function.tf
  templates/core/terraform/processor_function/variables.tf
Labels: api

#273 Ensure the repository functions return the right types
  management_api_app/db/repositories/workspace_templates.py
  management_api_app/db/repositories/workspaces.py
  management_api_app/models/schemas/workspace_template.py
  management_api_app/tests/test_db/test_repositories/test_workpaces_repository.py
  management_api_app/tests/test_db/test_repositories/test_workspace_templates_repository.py
Labels: api

#320 Initial authorization on workspace and workspace-templates
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/workflows/deploy_tre.yml
  management_api_app/.env.tmpl
  management_api_app/api/dependencies/authentication.py
  management_api_app/api/routes/workspace_templates.py
  management_api_app/api/routes/workspaces.py
  management_api_app/core/config.py
  management_api_app/main.py
  management_api_app/resources/strings.py
  management_api_app/services/aad_authentication.py
  management_api_app/services/authentication.py
  management_api_app/tests/test_api/conftest.py
  management_api_app/tests/test_api/test_routes/test_workspace_templates.py
  requirements-dev.txt
  scripts/bootstrap_db_for_local_tests.py
  templates/core/terraform/api-webapp/api-webapp.tf
  templates/core/terraform/api-webapp/variables.tf
  templates/core/terraform/main.tf
  templates/core/terraform/variables.tf
Labels: api, auth

#354 add app info to workspace request - NOTE: depends on #320
  management_api_app/api/dependencies/authentication.py
  management_api_app/api/errors/generic_error.py
  management_api_app/api/routes/workspaces.py
  management_api_app/core/config.py
  management_api_app/db/repositories/workspace_templates.py
  management_api_app/db/repositories/workspaces.py
  management_api_app/models/domain/workspace.py
  management_api_app/models/schemas/workspace.py
  management_api_app/requirements.txt
  management_api_app/resources/strings.py
  management_api_app/services/aad_access_service.py
  management_api_app/services/access_service.py
  management_api_app/tests/test_api/test_routes/test_workspaces.py
  management_api_app/tests/test_db/test_repositories/test_workpaces_repository.py
  management_api_app/tests/test_services/test_aad_access_service.py
Labels: api, auth

#372 Update developer quickstart with info and explanation of env vars
  devops/.env.sample
  docs/developer-quickstart.md
  management_api_app/.env.sample
  management_api_app/.env.tmpl
  scripts/bootstrap_db_for_local_tests.py
Labels: api, documentation

#376 Implement conditional workspace authorization
  management_api_app/api/dependencies/authentication.py
  management_api_app/api/routes/workspaces.py
  management_api_app/models/domain/resource.py
  management_api_app/models/domain/workspace.py
  management_api_app/resources/strings.py
  management_api_app/services/aad_access_service.py
  management_api_app/services/aad_authentication.py
  management_api_app/services/access_service.py
  management_api_app/services/authentication.py
  management_api_app/tests/test_api/conftest.py
  management_api_app/tests/test_api/test_routes/test_workspace_templates.py
  management_api_app/tests/test_api/test_routes/test_workspaces.py
  management_api_app/tests/test_services/test_aad_access_service.py
Labels: api, auth

#400 InnerEye Inference Workspace Bundle
  .github/workflows/deploy_tre.yml
  workspaces/azureml_devtestlabs/readme.md
  workspaces/innereye_deeplearning_inference/.dockerignore
  workspaces/innereye_deeplearning_inference/.env.sample
  workspaces/innereye_deeplearning_inference/Dockerfile.tmpl
  workspaces/innereye_deeplearning_inference/azure.json
  workspaces/innereye_deeplearning_inference/install_service_azureml.sh
  workspaces/innereye_deeplearning_inference/install_service_devtestlabs.sh
  workspaces/innereye_deeplearning_inference/install_service_innereye_deeplearning.sh
  workspaces/innereye_deeplearning_inference/install_service_innereye_inference.sh
  workspaces/innereye_deeplearning_inference/install_workspace_vanilla.sh
  workspaces/innereye_deeplearning_inference/parameters.json
  workspaces/innereye_deeplearning_inference/parameters_service_azureml.json
  workspaces/innereye_deeplearning_inference/parameters_service_devtestlabs.json
  workspaces/innereye_deeplearning_inference/parameters_service_innereye-deeplearning.json
  workspaces/innereye_deeplearning_inference/parameters_service_innereye-inference.json
  workspaces/innereye_deeplearning_inference/parameters_workspace_azureml-devtestlabs.json
  workspaces/innereye_deeplearning_inference/parameters_workspace_vanilla.json
  workspaces/innereye_deeplearning_inference/porter.yaml
  workspaces/innereye_deeplearning_inference/readme.md
  workspaces/services/innereye_inference/.dockerignore
  workspaces/services/innereye_inference/.env.sample
  workspaces/services/innereye_inference/Dockerfile.tmpl
  workspaces/services/innereye_inference/azure.json
  workspaces/services/innereye_inference/parameters.json
  workspaces/services/innereye_inference/porter.yaml
  workspaces/services/innereye_inference/terraform/.terraform.lock.hcl
  workspaces/services/innereye_inference/terraform/deploy.sh
  workspaces/services/innereye_inference/terraform/locals.tf
  workspaces/services/innereye_inference/terraform/main.tf
  workspaces/services/innereye_inference/terraform/variables.tf
  workspaces/services/innereye_inference/terraform/web_app.tf
Labels: bundles
