Repository microsoft/AzureTRE, pull requests merged in 2021-09, with the labels that each got.

#754 fix typos and general language inconsistencies
  docs/architecture.md
  docs/auth.md
  docs/authoring-workspace-templates.md
  docs/bootstrapping.md
  docs/concepts.md
  docs/deployment-quickstart.md
  docs/developer-guide.md
  docs/firewall-rules.md
  docs/manual-deployment.md
  docs/ops_debugging_troubleshooting.md
  docs/registering-workspace-templates.md
  docs/testing.md
  docs/user-roles.md
Labels: documentation

#769 add http request files
  api_http_requests/API Other Endpoints.http
  api_http_requests/API Resource GET Endpoints.http
  api_http_requests/API Resource Modifying Endpoints.http
  api_http_requests/API Template GET Endpoints.http
  api_http_requests/API Template Modifying Endpoints.http
  api_http_requests/API User Journey.http
  api_http_requests/README.md
  api_http_requests/http-client.env.json
Labels: documentation, api

#781 Changes the devcontainer base image to buster
  .devcontainer/Dockerfile
Labels: bug

#786 Automated Tests for API Access Checks
  api_app/api/routes/workspaces.py
  api_app/tests_ma/test_api/test_routes/test_api_access.py
  api_app/tests_ma/test_api/test_routes/test_workspaces.py
  api_http_requests/API Resource Modifying Endpoints.http
  api_http_requests/API Template GET Endpoints.http
  api_http_requests/API User Journey.http
Labels: api

#799 Tessferrandez/longer urls
  api_app/api/routes/workspaces.py
  api_app/tests_ma/test_api/test_routes/test_api_access.py
  api_app/tests_ma/test_api/test_routes/test_workspaces.py
  api_http_requests/API Resource GET Endpoints.http
Labels: api

#801 Delete Workspace Service
  api_app/api/routes/workspaces.py
  api_app/resources/strings.py
  api_app/tests_ma/test_api/test_routes/test_api_access.py
  api_app/tests_ma/test_api/test_routes/test_workspaces.py
  api_http_requests/API User Journey.http
Labels: api

#803 delete user resource
  api_app/api/routes/workspaces.py
  api_app/resources/strings.py
  api_app/tests_ma/test_api/test_routes/test_api_access.py
  api_app/tests_ma/test_api/test_routes/test_workspaces.py
Labels: api

#813 validate full routes
  api_app/api/dependencies/workspaces.py
  api_app/api/routes/workspaces.py
  api_app/db/repositories/resources.py
  api_app/db/repositories/user_resources.py
  api_app/db/repositories/workspace_services.py
  api_app/db/repositories/workspaces.py
  api_app/tests_ma/test_api/test_routes/test_api_access.py
  api_app/tests_ma/test_api/test_routes/test_workspaces.py
  api_app/tests_ma/test_db/test_repositories/test_user_resource_repository.py
  api_app/tests_ma/test_db/test_repositories/test_workpaces_repository.py
  api_app/tests_ma/test_db/test_repositories/test_workpaces_service_repository.py
Labels: api

#866 Update API version and description
  api_app/core/config.py
  api_app/main.py
  docs/deployment-quickstart.md
  templates/core/terraform/appgateway/appgateway.tf
Labels: api

#896 fix issue where only last role assigned was counted
  api_app/models/domain/authentication.py
  api_app/services/aad_access_service.py
  api_app/tests_ma/test_api/conftest.py
  api_app/tests_ma/test_services/test_aad_access_service.py
Labels: api

#943 903 setup instructions revisited
  docs/deployment-quickstart.md
  docs/tre-admins/auth.md
  docs/tre-admins/bootstrapping.md
  docs/tre-admins/deploying-the-tre/manual-deployment.md
  docs/tre-admins/environment-variables.md
  docs/tre-admins/setup-instructions/deploying-azure-tre.md
  docs/tre-admins/setup-instructions/getting-started.md
  docs/tre-admins/setup-instructions/installing-base-workspace.md
  docs/tre-admins/setup-instructions/pre-deployment-steps.md
  docs/tre-admins/setup-instructions/tear-down.md
  docs/tre-admins/workflows.md
  docs/tre-developers/api.md
  docs/tre-developers/dev-environment.md
  docs/tre-developers/end-to-end-tests.md
  docs/tre-workspace-authors/registering-workspace-templates.md
  mkdocs.yml
Labels: documentation

#944 Adds a note about granting admin consent to aad-app-reg.sh script
  scripts/aad-app-reg.sh
Labels: documentation

#946 Documentation language and formatting cleanup
  docs/assets/api_debug_true.png
  docs/assets/bastion.png
  docs/assets/deployment_center.png
  docs/assets/sb.png
  docs/assets/vmss_password.png
  docs/azure-tre-overview/architecture.md
  docs/azure-tre-overview/networking.md
  docs/azure-tre-overview/shared-services/gitea.md
  docs/azure-tre-overview/shared-services/nexus.md
  docs/index.md
  docs/tre-admins/auth.md
  docs/tre-admins/bootstrapping.md
  docs/tre-admins/environment-variables.md
  docs/tre-admins/setup-instructions/getting-started.md
  docs/tre-admins/setup-instructions/pre-deployment-steps.md
  docs/tre-admins/troubleshooting-guide.md
  docs/tre-admins/workflows.md
  docs/tre-developers/api.md
  docs/tre-developers/resource-processor.md
  docs/tre-workspace-authors/authoring-workspace-templates.md
Labels: documentation
