Repository microsoft/AzureTRE, pull requests merged in 2022-08, with the labels that each got.

#2384 Airlock topics use enable_local_debugging
  templates/core/terraform/airlock/eventgrid_topics.tf
  templates/core/terraform/airlock/variables.tf
  templates/core/terraform/main.tf
  templates/core/version.txt
Labels: airlock

#2382 Remove usage of storage account key in airlock processor
  CHANGELOG.md
  airlock_processor/StatusChangedQueueTrigger/__init__.py
  airlock_processor/_version.py
  airlock_processor/shared_code/blob_operations.py
  airlock_processor/tests/shared_code/blob_operations.py
  airlock_processor/tests/test_copy_data.py
  templates/core/terraform/airlock/identity.tf
  templates/core/terraform/airlock/locals.tf
  templates/core/version.txt
  templates/workspaces/base/porter.yaml
  templates/workspaces/base/terraform/airlock/locals.tf
  templates/workspaces/base/terraform/airlock/storage_accounts.tf
Labels: airlock

#2349 Adding Airlock Manager Role - Part I
  CHANGELOG.md
  api_app/_version.py
  api_app/api/routes/airlock.py
  api_app/models/domain/workspace.py
  api_app/services/aad_authentication.py
  api_app/services/authentication.py
  api_app/tests_ma/test_api/conftest.py
  api_app/tests_ma/test_api/test_routes/test_airlock.py
  api_app/tests_ma/test_api/test_routes/test_workspaces.py
  api_app/tests_ma/test_services/test_aad_access_service.py
  devops/scripts/aad/create_workspace_application.sh
  docs/tre-admins/identities/workspace.md
  templates/workspaces/base/.env.sample
  templates/workspaces/base/parameters.json
  templates/workspaces/base/porter.yaml
  templates/workspaces/base/terraform/aad/aad.tf
  templates/workspaces/base/terraform/aad/outputs.tf
  templates/workspaces/base/terraform/outputs.tf
  templates/workspaces/base/terraform/variables.tf
Labels: airlock

#2383 fix airlock e2e tests
  e2e_tests/airlock/request.py
  e2e_tests/test_airlock.py
  templates/core/terraform/airlock/airlock_processor.tf
  templates/core/version.txt
Labels: airlock

#2395 Move failed airlock requests to "failed" state
  CHANGELOG.md
  airlock_processor/BlobCreatedTrigger/__init__.py
  airlock_processor/ScanResultTrigger/__init__.py
  airlock_processor/StatusChangedQueueTrigger/__init__.py
  airlock_processor/StatusChangedQueueTrigger/function.json
  airlock_processor/_version.py
  airlock_processor/exceptions/AirlockInvalidContainerException.py
  airlock_processor/exceptions/NoFilesInRequestException.py
  airlock_processor/exceptions/TooManyFilesInRequestException.py
  airlock_processor/shared_code/blob_operations.py
  airlock_processor/shared_code/constants.py
  airlock_processor/tests/test_copy_data.py
  api_app/_version.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/db/repositories/airlock_requests.py
  api_app/models/domain/airlock_operations.py
  api_app/models/domain/airlock_request.py
  api_app/resources/strings.py
  api_app/service_bus/airlock_request_status_update.py
  api_app/tests_ma/test_db/test_repositories/test_airlock_request_repository.py
  api_app/tests_ma/test_service_bus/test_airlock_request_status_update.py
Labels: airlock

#2428 Added placeholder for no templates
  ui/app/src/App.tsx
  ui/app/src/components/shared/create-update-resource/CreateUpdateResource.tsx
  ui/app/src/components/shared/create-update-resource/ResourceForm.tsx
  ui/app/src/components/shared/create-update-resource/SelectTemplate.tsx
Labels: ui

#2442 Removes redundant malware scanning resources
  templates/core/terraform/airlock/eventgrid_topics.tf
  templates/core/terraform/airlock/locals.tf
  templates/core/terraform/airlock/storage_accounts.tf
  templates/core/version.txt
  templates/workspaces/base/terraform/airlock/storage_accounts.tf
Labels: airlock

#2443 Documentation fix on structure and getting started
  docs/azure-tre-overview/airlock.md
  docs/azure-tre-overview/compliance-info.md
  docs/tre-admins/registering-templates.md
  docs/tre-admins/setup-instructions/configuring-shared-services.md
  docs/tre-admins/setup-instructions/deploying-azure-tre.md
  docs/tre-admins/setup-instructions/index.md
  docs/tre-admins/setup-instructions/installing-base-workspace.md
  docs/tre-admins/setup-instructions/prerequisites.md
  docs/tre-admins/troubleshooting-guide.md
  docs/tre-templates/index.md
  docs/tre-workspace-authors/authoring-workspace-templates.md
  docs/troubleshooting-faq/api-logs-deployment-center.md
  docs/troubleshooting-faq/app-insights-logs.md
  docs/troubleshooting-faq/debug-api.md
  docs/troubleshooting-faq/index.md
  docs/troubleshooting-faq/troubleshooting-rp.md
  docs/troubleshooting-faq/troubleshooting-sb.md
  docs/using-tre/faq.md
  docs/using-tre/index.md
  docs/using-tre/terms-definitions.md
  docs/using-tre/wks/index.md
  docs/using-tre/wks/using-wks.md
  docs/using-tre/wks/wks-owner.md
  mkdocs.yml
Labels: documentation

#2449 Add creationTime field to Airlock requests
  CHANGELOG.md
  api_app/_version.py
  api_app/db/repositories/airlock_requests.py
  api_app/models/domain/airlock_request.py
  api_app/models/schemas/airlock_request.py
Labels: airlock

#2453 Jjgriff93/2431 UI remove workspace detail for researcher role
  api_app/_version.py
  api_app/api/routes/workspaces.py
  api_app/tests_ma/test_api/test_routes/test_workspaces.py
Labels: api, ui

#2437 Update SAS token generation permissions UT
  api_app/_version.py
  api_app/tests_ma/test_services/test_airlock.py
Labels: airlock

#2433 Add filtering to list Airlock requests
  CHANGELOG.md
  api_app/_version.py
  api_app/api/routes/airlock.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/db/repositories/airlock_requests.py
  api_app/db/repositories/base.py
  api_app/models/domain/airlock_request.py
  api_app/models/schemas/airlock_request.py
  api_app/resources/strings.py
  api_app/tests_ma/test_api/test_routes/test_airlock.py
  api_app/tests_ma/test_api/test_routes/test_airlock_resource_helpers.py
  api_app/tests_ma/test_db/test_repositories/test_airlock_request_repository.py
  api_app/tests_ma/test_db/test_repositories/test_workpaces_repository.py
Labels: airlock

#2460 Use delegated key when generating SAS token in API
  CHANGELOG.md
  airlock_processor/_version.py
  airlock_processor/shared_code/blob_operations.py
  api_app/_version.py
  api_app/api/routes/airlock.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/services/airlock.py
  templates/core/terraform/airlock/identity.tf
  templates/core/terraform/airlock/locals.tf
  templates/core/terraform/airlock/storage_accounts.tf
  templates/core/version.txt
  templates/workspaces/base/porter.yaml
  templates/workspaces/base/terraform/airlock/locals.tf
  templates/workspaces/base/terraform/airlock/storage_accounts.tf
Labels: airlock

#2462 Refactor airlock reviews
  api_app/_version.py
  api_app/api/routes/airlock.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/core/config.py
  api_app/db/repositories/airlock_requests.py
  api_app/db/repositories/airlock_resources.py
  api_app/db/repositories/airlock_reviews.py
  api_app/models/domain/airlock_request.py
  api_app/models/domain/airlock_resource.py
  api_app/models/domain/airlock_review.py
  api_app/models/schemas/airlock_request.py
  api_app/models/schemas/airlock_review.py
  api_app/service_bus/airlock_request_status_update.py
  api_app/tests_ma/test_api/test_routes/test_airlock.py
  api_app/tests_ma/test_api/test_routes/test_airlock_resource_helpers.py
  api_app/tests_ma/test_db/test_repositories/test_airlock_request_repository.py
  api_app/tests_ma/test_db/test_repositories/test_airlock_review_repository.py
  api_app/tests_ma/test_service_bus/test_airlock_request_status_update.py
  api_app/tests_ma/test_services/test_airlock.py
  docs/azure-tre-overview/airlock.md
  e2e_tests/config.py
  e2e_tests/test_airlock.py
Labels: airlock

#2454 Airlock data cleanup deletion when moving between stages
  airlock_processor/BlobCreatedTrigger/__init__.py
  airlock_processor/BlobCreatedTrigger/function.json
  airlock_processor/ScanResultTrigger/__init__.py
  airlock_processor/StatusChangedQueueTrigger/__init__.py
  airlock_processor/ToDeleteTrigger/__init__.py
  airlock_processor/ToDeleteTrigger/function.json
  airlock_processor/_version.py
  airlock_processor/exceptions/NoFilesInRequestException.py
  airlock_processor/exceptions/__init__.py
  airlock_processor/shared_code/blob_operations.py
  airlock_processor/tests/shared_code/blob_operations.py
  airlock_processor/tests/shared_code/test_blob_operations.py
  airlock_processor/tests/test_status_change_queue_trigger.py
  airlock_processor/tests/test_to_delete_trigger.py
  e2e_tests/test_airlock.py
  templates/core/terraform/airlock/airlock_processor.tf
  templates/core/terraform/airlock/eventgrid_topics.tf
  templates/core/terraform/airlock/locals.tf
  templates/core/terraform/airlock/service_bus.tf
  templates/core/version.txt
Labels: airlock

#2504 Enumerating Airlock request files after request submission
  CHANGELOG.md
  airlock_processor/StatusChangedQueueTrigger/__init__.py
  airlock_processor/_version.py
  airlock_processor/shared_code/blob_operations.py
  airlock_processor/tests/test_status_change_queue_trigger.py
  api_app/_version.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/db/repositories/airlock_requests.py
  api_app/db/repositories/base.py
  api_app/models/domain/airlock_operations.py
  api_app/models/domain/airlock_request.py
  api_app/service_bus/airlock_request_status_update.py
  api_app/tests_ma/test_db/test_repositories/test_airlock_request_repository.py
  api_app/tests_ma/test_service_bus/test_airlock_request_status_update.py
Labels: airlock
