Repository microsoft/AzureTRE, pull requests merged in 2022-09, with the labels that each got.

#2512 Airlock UI: view requests (workspace-level)
  CHANGELOG.md
  ui/app/src/App.scss
  ui/app/src/App.tsx
  ui/app/src/components/shared/Footer.tsx
  ui/app/src/components/shared/ResourceBody.tsx
  ui/app/src/components/shared/TopNav.tsx
  ui/app/src/components/shared/airlock/Airlock.tsx
  ui/app/src/components/shared/airlock/AirlockViewRequest.tsx
  ui/app/src/components/workspaces/WorkspaceHeader.tsx
  ui/app/src/components/workspaces/WorkspaceLeftNav.tsx
  ui/app/src/components/workspaces/WorkspaceProvider.tsx
  ui/app/src/models/airlock.ts
  ui/app/src/models/apiEndpoints.ts
Labels: ui, airlock

#2556 Add parameter to command deallocating workspace VMs
  devops/scripts/control_tre.sh
Labels: external

#2547 Skip sending step result events for Airlock updates that do not include a status change
  api_app/_version.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/tests_ma/test_api/test_routes/test_airlock_resource_helpers.py
  e2e_tests/airlock/request.py
  e2e_tests/airlock/strings.py
Labels: bug, airlock

#2584 Handle request cancellation in Airlock processor
  CHANGELOG.md
  airlock_processor/BlobCreatedTrigger/__init__.py
  airlock_processor/StatusChangedQueueTrigger/__init__.py
  airlock_processor/StatusChangedQueueTrigger/function.json
  airlock_processor/ToDeleteTrigger/__init__.py
  airlock_processor/_version.py
  airlock_processor/shared_code/blob_operations.py
  airlock_processor/shared_code/constants.py
  airlock_processor/tests/shared_code/test_blob_operations.py
  airlock_processor/tests/test_status_change_queue_trigger.py
  airlock_processor/tests/test_to_delete_trigger.py
  api_app/_version.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/event_grid/event_sender.py
  api_app/models/domain/events.py
  api_app/tests_ma/test_api/test_routes/test_airlock_resource_helpers.py
Labels: airlock

#2592 Rename Azure Function ToDeleteTrigger to DataDeletionTrigger
  airlock_processor/BlobCreatedTrigger/__init__.py
  airlock_processor/BlobCreatedTrigger/function.json
  airlock_processor/DataDeletionTrigger/__init__.py
  airlock_processor/DataDeletionTrigger/function.json
  airlock_processor/StatusChangedQueueTrigger/function.json
  airlock_processor/_version.py
  airlock_processor/tests/test_data_deletion_trigger.py
  templates/core/terraform/airlock/airlock_processor.tf
  templates/core/terraform/airlock/eventgrid_topics.tf
  templates/core/terraform/airlock/locals.tf
  templates/core/terraform/airlock/service_bus.tf
  templates/core/version.txt
Labels: airlock

#2505 Add Airlock Manager workspace
  docs/tre-templates/workspaces/airlock_manager.md
  templates/workspace_services/guacamole/user_resources/guacamole-azure-linuxvm/porter.yaml
  templates/workspace_services/guacamole/user_resources/guacamole-azure-linuxvm/template_schema.json
  templates/workspace_services/guacamole/user_resources/guacamole-azure-linuxvm/terraform/linuxvm.tf
  templates/workspace_services/guacamole/user_resources/guacamole-azure-linuxvm/terraform/variables.tf
  templates/workspace_services/guacamole/user_resources/guacamole-azure-windowsvm/porter.yaml
  templates/workspace_services/guacamole/user_resources/guacamole-azure-windowsvm/template_schema.json
  templates/workspace_services/guacamole/user_resources/guacamole-azure-windowsvm/terraform/variables.tf
  templates/workspace_services/guacamole/user_resources/guacamole-azure-windowsvm/terraform/windowsvm.tf
  templates/workspaces/airlock_manager/.dockerignore
  templates/workspaces/airlock_manager/.env.sample
  templates/workspaces/airlock_manager/Dockerfile.tmpl
  templates/workspaces/airlock_manager/parameters.json
  templates/workspaces/airlock_manager/porter.yaml
  templates/workspaces/airlock_manager/template_schema.json
  templates/workspaces/airlock_manager/terraform/empty.txt
  templates/workspaces/airlock_manager/workspace_base.diff
Labels: airlock

#2614 Adjustments to Azure TRE docs
  docs/azure-tre-overview/user-roles.md
  docs/using-tre/index.md
  docs/using-tre/local-development/local-development.md
  docs/using-tre/pipelines/pipelines.md
  mkdocs.yml
Labels: documentation

#2643 Added new request functionality
  ui/app/src/components/shared/airlock/Airlock.tsx
  ui/app/src/components/shared/airlock/AirlockNewRequest.tsx
  ui/app/src/components/shared/airlock/AirlockViewRequest.tsx
  ui/app/src/models/airlock.ts
Labels: ui, airlock

#2636 Import reviewer VM
  templates/workspace_services/guacamole/user_resources/guacamole-azure-importreview-vm/.dockerignore
  templates/workspace_services/guacamole/user_resources/guacamole-azure-importreview-vm/.env.sample
  templates/workspace_services/guacamole/user_resources/guacamole-azure-importreview-vm/Dockerfile.tmpl
  templates/workspace_services/guacamole/user_resources/guacamole-azure-importreview-vm/parameters.json
  templates/workspace_services/guacamole/user_resources/guacamole-azure-importreview-vm/porter.yaml
  templates/workspace_services/guacamole/user_resources/guacamole-azure-importreview-vm/template_schema.json
  templates/workspace_services/guacamole/user_resources/guacamole-azure-importreview-vm/terraform/empty.txt
  templates/workspace_services/guacamole/user_resources/guacamole-azure-importreview-vm/windowsvm.diff
Labels: external

#2660 Add Airlock network diagram to docs
  docs/assets/airlock-networking.png
  docs/azure-tre-overview/airlock.md
Labels: documentation, airlock

#2658 Fix linting issues in terraform wrapper
  devops/scripts/terraform_wrapper.sh
Labels: external
