Repository microsoft/AzureTRE, pull requests merged in 2022-07, with the labels that each got.

#2092 1. Workspace App registration Admin Consent
  devops/scripts/aad/aad-app-reg.sh
  devops/scripts/aad/create_api_application.sh
  devops/scripts/aad/create_application_administrator.sh
  devops/scripts/aad/create_automation_administrator.sh
  devops/scripts/aad/create_or_update_service_principal.sh
  devops/scripts/aad/create_workspace_application.sh
  devops/scripts/aad/get_existing_app.sh
  devops/scripts/aad/get_msgraph_access.sh
  devops/scripts/aad/grant_admin_consent.sh
  devops/scripts/aad/wait_for_new_app_registration.sh
  devops/scripts/aad/wait_for_new_service_principal.sh
  devops/scripts/create_aad_assets.sh
  docs/tre-admins/identities/api.md
  docs/tre-admins/identities/client.md
  docs/tre-admins/identities/test-account.md
  docs/tre-admins/identities/workspace.md
  docs/tre-admins/setup-instructions/installing-base-workspace.md
  templates/core/.env.sample
Labels: auth

#2188 Remove Cosmos permission for Airlock id
  templates/core/terraform/airlock/identity.tf
Labels: airlock

#2155 Add api to get SAS token
  api_app/.env.sample
  api_app/_version.py
  api_app/api/routes/airlock.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/core/config.py
  api_app/models/domain/airlock_request.py
  api_app/models/schemas/airlock_request_url.py
  api_app/requirements.txt
  api_app/resources/constants.py
  api_app/resources/strings.py
  api_app/services/airlock.py
  api_app/tests_ma/test_api/test_routes/test_airlock.py
  api_app/tests_ma/test_api/test_routes/test_airlock_resource_helpers.py
  api_app/tests_ma/test_services/test_airlock.py
  templates/workspaces/base/porter.yaml
  templates/workspaces/base/terraform/airlock/data.tf
  templates/workspaces/base/terraform/airlock/storage_accounts.tf
Labels: airlock

#2195 Airlock API - instrument the airlock with notifications events
  api_app/.env.sample
  api_app/_version.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/core/config.py
  api_app/event_grid/event_sender.py
  api_app/event_grid/helpers.py
  api_app/models/domain/events.py
  api_app/tests_ma/test_api/test_routes/test_airlock.py
  api_app/tests_ma/test_api/test_routes/test_airlock_resource_helpers.py
  api_app/tests_ma/test_service_bus/test_airlock_request_status_update.py
  devops/scripts/setup_local_debugging.sh
  templates/core/terraform/airlock/eventgrid_topics.tf
  templates/core/terraform/airlock/identity.tf
  templates/core/terraform/airlock/locals.tf
  templates/core/terraform/airlock/output.tf
  templates/core/terraform/api-webapp.tf
  templates/core/terraform/json-to-env.sh
  templates/core/terraform/outputs.tf
Labels: airlock

#2199 Airlock - cancel api endpoint
  api_app/_version.py
  api_app/api/routes/airlock.py
  api_app/resources/strings.py
  api_app/tests_ma/test_api/test_routes/test_airlock.py
  api_app/tests_ma/test_db/test_repositories/test_airlock_request_repository.py
Labels: airlock

#2213 Terraform changes for airlock notifier
  templates/core/terraform/airlock/eventgrid_topics.tf
  templates/shared_services/airlock-notifier/terraform/airlock_notifier.tf
  templates/shared_services/airlock-notifier/terraform/data.tf
  templates/shared_services/airlock-notifier/terraform/locals.tf
Labels: airlock

#2209 AML bundle fails due to missing tags
  templates/workspace_services/azureml/porter.yaml
  templates/workspace_services/azureml/terraform/.terraform.lock.hcl
  templates/workspace_services/azureml/terraform/acr/main.tf
  templates/workspace_services/azureml/terraform/acr/variables.tf
  templates/workspace_services/azureml/terraform/locals.tf
  templates/workspace_services/azureml/terraform/variables.tf
  templates/workspace_services/innereye/porter.yaml
  templates/workspace_services/innereye/terraform/locals.tf
  templates/workspace_services/mlflow/porter.yaml
  templates/workspace_services/mlflow/terraform/locals.tf
Labels: external

#2244 Pass email lists on notifications
  api_app/_version.py
  api_app/api/routes/airlock.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/api/routes/resource_helpers.py
  api_app/service_bus/airlock_request_status_update.py
  api_app/services/aad_authentication.py
  api_app/services/access_service.py
  api_app/tests_ma/test_api/test_routes/test_airlock_resource_helpers.py
  api_app/tests_ma/test_service_bus/test_airlock_request_status_update.py
Labels: airlock

#2252 Added actionDisabled states
  ui/app/src/components/shared/ResourceCard.tsx
  ui/app/src/components/shared/ResourceContextMenu.tsx
  ui/app/src/models/operation.ts
Labels: ui

#2254 UI Schema
  api_app/_version.py
  api_app/db/repositories/resource_templates.py
  api_app/models/domain/resource_template.py
  templates/workspaces/base/template_schema.json
  ui/app/src/App.scss
  ui/app/src/components/root/RootLayout.tsx
  ui/app/src/components/shared/CreateUpdateResource/ResourceForm.tsx
  ui/app/src/components/workspaces/WorkspaceLeftNav.tsx
  ui/app/src/models/resourceTemplate.ts
Labels: ui

#2264 [airlock] - Fix none emails in notification recipients list
  api_app/_version.py
  api_app/services/aad_authentication.py
Labels: airlock

#2283 Fix Airlock app settings to remove TF recurring changes
  templates/core/terraform/airlock/airlock_processor.tf
  templates/core/version.txt
Labels: airlock

#2305 Adding airlock swimlanes + doc
  docs/assets/airlock-swimlanes.png
  docs/azure-tre-overview/airlock-data-flow-source.txt
  docs/azure-tre-overview/airlock-data-flow.md
Labels: documentation, airlock

#2308 Restricted Shared Service: API and UI Screens
  api_app/_version.py
  api_app/api/routes/shared_services.py
  api_app/models/domain/restricted_resource.py
  api_app/models/schemas/shared_service.py
  api_app/tests_ma/test_api/test_routes/test_shared_services.py
  ui/app/public/favicon.ico
  ui/app/public/index.html
  ui/app/public/ms_icon.png
  ui/app/src/components/shared/ResourceBody.tsx
  ui/app/src/components/shared/ResourceCard.tsx
  ui/app/src/components/shared/ResourceCardList.tsx
  ui/app/src/components/shared/ResourceHeader.tsx
  ui/app/src/components/shared/SharedServiceItem.tsx
  ui/app/src/components/shared/SharedServices.tsx
  ui/app/src/components/workspaces/WorkspaceLeftNav.tsx
  ui/app/src/components/workspaces/WorkspaceProvider.tsx
Labels: ui

#2082 airlock doc
  docs/azure-tre-overview/airlock-data-flow.md
  docs/azure-tre-overview/airlock.md
  mkdocs.yml
Labels: documentation, airlock

#2289 Add Airlock Notifications
  docs/tre-templates/shared-services/airlock-notifier.md
  templates/core/terraform/airlock/eventgrid_topics.tf
  templates/core/terraform/network/locals.tf
  templates/core/terraform/network/network.tf
  templates/core/version.txt
  templates/shared_services/airlock_notifier/.dockerignore
  templates/shared_services/airlock_notifier/.env.sample
  templates/shared_services/airlock_notifier/Dockerfile.tmpl
  templates/shared_services/airlock_notifier/app/AirlockNotifier/workflow.json
  templates/shared_services/airlock_notifier/app/connections.json
  templates/shared_services/airlock_notifier/app/host.json
  templates/shared_services/airlock_notifier/app/parameters.json
  templates/shared_services/airlock_notifier/parameters.json
  templates/shared_services/airlock_notifier/porter.yaml
  templates/shared_services/airlock_notifier/template_schema.json
  templates/shared_services/airlock_notifier/terraform/airlock_notifier.tf
  templates/shared_services/airlock_notifier/terraform/data.tf
  templates/shared_services/airlock_notifier/terraform/locals.tf
  templates/shared_services/airlock_notifier/terraform/outputs.tf
  templates/shared_services/airlock_notifier/terraform/providers.tf
  templates/shared_services/airlock_notifier/terraform/smtp-access-policy.json
  templates/shared_services/airlock_notifier/terraform/smtp-api-connection.json
  templates/shared_services/airlock_notifier/terraform/variables.tf
Labels: airlock

#2340 Recursive display component for complex props
  ui/app/src/App.scss
  ui/app/src/components/shared/ComplexItemDisplay.tsx
  ui/app/src/components/shared/ResourcePropertyPanel.tsx
Labels: ui

#2341 fixed resource card link
  ui/app/src/components/shared/ResourceCard.tsx
Labels: ui

#2368 Get all airlock requests for a workspace
  api_app/_version.py
  api_app/api/routes/airlock.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/db/repositories/airlock_requests.py
  api_app/models/schemas/airlock_request.py
  api_app/resources/strings.py
  api_app/services/aad_authentication.py
  api_app/tests_ma/test_api/test_routes/test_airlock.py
  api_app/tests_ma/test_api/test_routes/test_airlock_resource_helpers.py
  api_app/tests_ma/test_db/test_repositories/test_airlock_request_repository.py
Labels: airlock

#2372 Add delete permission for draft request
  api_app/_version.py
  api_app/services/airlock.py
Labels: airlock
