Repository microsoft/AzureTRE, pull requests merged in 2022-10, with the labels that each got.

#2666 Add 'status_message' for requests that are blocked by the malware scanner
  CHANGELOG.md
  airlock_processor/ScanResultTrigger/__init__.py
  airlock_processor/StatusChangedQueueTrigger/__init__.py
  airlock_processor/_version.py
  airlock_processor/shared_code/constants.py
  api_app/_version.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/db/repositories/airlock_requests.py
  api_app/models/domain/airlock_operations.py
  api_app/models/domain/airlock_request.py
  api_app/service_bus/airlock_request_status_update.py
  api_app/tests_ma/test_service_bus/test_airlock_request_status_update.py
Labels: airlock

#2713 AzureTRE_Overview
  docs/assets/TRE_Overview.png
  docs/assets/treconcepts_updated.png
  docs/index.md
  docs/using-tre/terms-definitions.md
  mkdocs.yml
Labels: documentation

#2730 Airlock UI: filter requests
  CHANGELOG.md
  api_app/_version.py
  api_app/api/routes/airlock.py
  api_app/api/routes/airlock_resource_helpers.py
  api_app/db/repositories/airlock_requests.py
  api_app/tests_ma/test_api/test_routes/test_airlock_resource_helpers.py
  ui/app/src/components/shared/airlock/Airlock.tsx
  ui/app/src/components/shared/airlock/AirlockViewRequest.tsx
  ui/app/src/models/airlock.ts
Labels: ui, airlock

#2731 Airlock UI: add title to airlock request
  CHANGELOG.md
  api_app/_version.py
  api_app/db/repositories/airlock_requests.py
  api_app/models/domain/airlock_request.py
  api_app/models/schemas/airlock_request.py
  api_app/tests_ma/test_api/test_routes/test_airlock.py
  ui/app/package.json
  ui/app/src/App.scss
  ui/app/src/App.tsx
  ui/app/src/components/shared/airlock/Airlock.tsx
  ui/app/src/components/shared/airlock/AirlockNewRequest.tsx
  ui/app/src/components/shared/airlock/AirlockViewRequest.tsx
  ui/app/src/models/airlock.ts
  ui/app/yarn.lock
Labels: ui, airlock

#2694 cran support in nexus
  templates/shared_services/sonatype-nexus-vm/parameters.json
  templates/shared_services/sonatype-nexus-vm/porter.yaml
  templates/shared_services/sonatype-nexus-vm/scripts/nexus_repos_config/cran_proxy_conf.json
  templates/shared_services/sonatype-nexus-vm/template_schema.json
  templates/shared_services/sonatype-nexus-vm/terraform/data.tf
  templates/shared_services/sonatype-nexus-vm/terraform/firewall.tf
  templates/shared_services/sonatype-nexus-vm/terraform/locals.tf
  templates/shared_services/sonatype-nexus-vm/terraform/output.tf
  templates/shared_services/sonatype-nexus-vm/terraform/outputs.tf
  templates/shared_services/sonatype-nexus-vm/terraform/vm.tf
  templates/workspace_services/guacamole/user_resources/guacamole-azure-linuxvm/porter.yaml
  templates/workspace_services/guacamole/user_resources/guacamole-azure-linuxvm/terraform/vm_config.sh
  templates/workspace_services/guacamole/user_resources/guacamole-azure-windowsvm/porter.yaml
  templates/workspace_services/guacamole/user_resources/guacamole-azure-windowsvm/terraform/vm_config.ps1
  templates/workspaces/base/terraform/network/outputs.tf
  templates/workspaces/base/terraform/network/security.tf
  templates/workspaces/base/terraform/outputs.tf
Labels: external

#2752 Edit Change Log for cran support
  CHANGELOG.md
Labels: external
